body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(19, 3, 123);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
}

.game-container {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
  height: 120vh;
  width: 100vw;
}

img {
  width: 160px;
  height: 150px;
  padding: 5px;
}
.patient-img {
  width: 500px;
  height: 500px;
  padding: 5px;
}
.pain-chest-img {
  width: 500px;
  height: 500px;
  padding: 5px;
}
.patient-panel {
  background-color: white;
  height: 70vh;
  width: 60vw;
}

.items-panel {
  background-color: white;
  height: 120vh;
  width: 40vw;
  display: grid;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
}

.item-grid {
  background-color: white;
  height: 26vh;
  width: 13vw;
  padding: 1vh;
  border: 1px solid black;
}

.dropzone-panel {
  background-color: rgb(2, 2, 90);
  height: 50vh;
  width: 60vw;
  color: white;
}

.dropzone-panel p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dropzones {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.dropzone {
  width: 120px;
  height: 120px;
  border: 2px dashed white;
  border-radius: 10px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.case-box {
  width: 30%;
  padding: 15px;
}

.content {
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
.symptom-text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.message-box {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: pink;
  text-align: center;
}
