body {
  background-image: url(images/131.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(19, 3, 123);
  color: white;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: 2.5rem;
  margin: 20px 0;
  font-weight: bold;
  /* margin-bottom: 10px; */
}

h2 {
  font-size: 2rem;
  margin: 20px 0;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

button {
  background-color: crimson;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  /* transition: 0.3; */
}

button:hover {
  background-color: darkred;
}

.game-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  width: 95vw;
}

.patient-panel {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 15px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 50vh;
  overflow: hidden;
}

img {
  width: 150px;
  height: 140px;
  padding: 5px;
}

.items-panel {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 15px;
  flex: 1;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  min-height: 60vh;
  justify-items: center;
}

.item-grid {
  background-color: white;
  padding: 1vh;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.dropzone-panel {
  background-color: rgb(2, 2, 90);
  height: 40vh;
  width: 55vw;
  color: white;
  border-radius: 15px;
}

.dropzone-panel p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.dropzones {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.dropzone {
  width: 120px;
  height: 120px;
  border: 2px dashed white;
  border-radius: 10px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.symptom-text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.message-box {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: pink;
  text-align: center;
}
